  <div class="star">
    <h2>Service</h2>
  </div>
<div class="card-group" >
    <div class="card">
      <img class="card-img-top" src="../../assets/Images/Happy-Engagement-Wishes-1.jpg" height="300px" (mouseover)="card1()" (mouseout)="card11()" [hidden]="!display" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Engagement</h5>
        <div class="card-text">An Engagement Ceremony is performed well ahead of the wedding as it signifies the commitment to get married. Usually small parties held for the closest family members of the groom and the bride and are meant to get the two families meet and get to know each other better. <br>
           <div [hidden]="display" >
            1. Choreograph dance Performances, <br> 
            2. Cake Cutting,Games, <br> 
            3. Indian outfits for engagement,  <br> 
            4. Western outfits for engagement <br> 
            5. photos <br>
            a. Close-Up Engagement Photos <br>
            b. Dreamy Engagement Photos <br>
            c. Fun Engagement Photos   <br>         
            d. Intimate Engagement Photos <br>            
            e. Simple Engagement Photos  <br>         
            f. Romantic Engagement Photos
            
            
           </div>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/Images/birthday.jpg" height="300px" (mouseover)="card2()" (mouseout)="card22()" [hidden]="!display2"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Birthday Parthy</h5>
        <div class="card-text">The tradition of celebrating everyone's birthday is fairly recent. It coincided with several socioeconomic trends in the 19th and 20th centuries that saw the rise of consumerism and increased investment in the upbringing of children—and, thus, the annual celebration of their lives through the giving of gifts.
         <div [hidden]="display2" >
          1.Cake delivery, <br> <br>
          2. Surprise online birthday party <br> <br>
          3. Zoom birthday backgrounds <br>
             a.Balloons <br>
             b.Presents <br>
             c.Animals in birthday hats <br>
             d.Cakes or cupcakes <br>
             e.A crowd of celebrities <br>
             f.Glowing birthday candles <br>
          </div>
      </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/Images/wedding1.jpg" height="300px" (mouseover)="card3()" (mouseout)="card33()" [hidden]="!display3" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Wedding</h5>
        <div class="card-text">A wedding is a celebration or ceremony of marriage. Besides being a formal way to mark the union of two people, weddings can be a lot of fun too. The earliest meaning of wedding was simply "the state of being married," but by the early 1400s it meant the ceremony or rite at the very beginning of a marriage
         <div [hidden]="display3" >
          1.Event Timeline <br>
         2. Wedding Concept & Design(ThemeDecoration) <br> <br>
         3. Venue Selection <br> <br>
         4. Catering and Menu Selection <br> <br>
         5.Music and Entertainment <br> <br>
         6.Staging and Audio/Visual <br> <br>
         7.Lighting Design <br> <br>
         8.Invitations & Guest Management
         </div>
      </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <div class="card-group" style="margin-top: 100px;">
    <div class="card">
      <img class="card-img-top" src="../../assets/Images/bachelor-party.jpeg" height="300px" (mouseover)="card4()" (mouseout)="card44()" [hidden]="!display4" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bachelor Party</h5>
        <div class="card-text">A celebration for a soon-to-be groom organized and attended primarily by male friends, often on the night before or in the days leading up to the wedding, and ranging from a formal gathering to a night of drinking and entertainment. <br>
           <div [hidden]="display4" >
            1.Plan The Location Well Ahead Of The Bachelor Party Day. <br> <br>
            2.Bachelor Party Ideas At Home. <br> <br>
            3.Hiring A Photographer For The Bachelor Party. <br> <br>
            4.Decor For Bachelor Party. <br> <br>
            5.Bachelor Party Invitation Cards. <br> <br>
            6.Bachelor Party Cake Ideas. <br> <br>
            7.Top Bachelor Party Locations <br> <br>
           </div>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/Images/Jake-Morley-Photography5.jpg" height="300px" (mouseover)="card5()" (mouseout)="card55()" [hidden]="!display5"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Wedding Anniversary</h5>
        <div class="card-text">Wedding Anniversary and Marriage Anniversary both refer to the yearly celebration of a couple’s anniversary. Technically, they are the same, but people tend to use them differently in different ways. Wedding Anniversary is more common in western countries, while marriage anniversary is mainly used by Asians and Arabs. <br> <br>
         <div [hidden]="display5" >
          1.Decorate Your Home <br> <br>
          2.Take Pictures <br> <br>
          3.Revisit Your Wedding Day <br> <br>
          4.Plan A Party <br> <br>
          5.Decorate Your Partner’s Car <br><br>
          6.Make A Video <br> <br>
          7. Go On A Coffee Date.
         </div>
      </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/Images/Mehendi01.jpg" height="300px" (mouseover)="card6()" (mouseout)="card66()" [hidden]="!display6" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mehendi</h5>
        <div class="card-text">Mehndi, otherwise known as henna, is a paste associated with positive spirits and good luck. Indian Wedding tradition calls for a Mehndi ceremony to be held the night before the wedding as a way of wishing the bride good health and prosperity as she makes her journey on to marriage. 
         <div [hidden]="display6" >
          1.Arabic Mehndi Design <br> <br>
          2.Indian Mehndi Design <br> <br>
          3.Jewellery Mehndi Design<br>
         </div>
      </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>