<div class="container1">
   
    <div class="poss" style="margin-top: 100px;">
        <h2 class="text-center">CONTACT</h2>
        <div class="text-center">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" class="bi bi-telephone-fill me-3" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg>Phone:+91 xxxx xxx xxx</p>
        </div>
        <div class="text-center">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope me-3" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg>Email :<a href="mailto:rbeventmanagement@example.com">rbeventmanagement@example.com</a></p>
        </div>
        <div class="text-center">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt me-3" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>Address : 07 July Street,Dhoni Road,Tambaram,Chennai.</p>
        </div>
        <!-- <div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div>
                <input type="text" class="form-control height" placeholder="YOUR NAME*">
              </div>
              <div>
                <input type="email" class="form-control height" placeholder="YOUR EMAIL*">
              </div>
              <div>
                <input type="number" class="form-control height1" placeholder="YOUR PHONE*">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <textarea placeholder="YOUR MESSAGE" class="form-control textarea" cols="50" rows="10"></textarea>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-danger">SEND MESSAGE</button>
          </div>
        </div> -->
    
    
        <div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12 text-center">
                <h1 style="margin-bottom: 75px; margin-top: 50px;">
                  Contact us
                </h1>
                <p>
                  Need to get in touch with us? Either fill out the <br> form with your inquiry or find the <a href="mailto:rbeventmanagement@example.com">department <br> email</a> you'd like to contact below.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-12 ">
              <div class="text-center">
                <div>
                  Full Name*
                  <input type="text" style="width: 50%; margin: auto;" placeholder="Enter The Your Name" class="form-control" name="Names" [(ngModel)]="Names" >
                </div>
                <div>
                  Mobile Number*
                  <input type="number" style="width: 50%; margin: auto;" placeholder="Enter The Your Mobile Number" class="form-control" name="Numbers" [(ngModel)]="Numbers" >
                </div>
                <div>
                  Email*
                  <input type="email" style="width: 50%; margin: auto;" placeholder="Enter The Your Email " class="form-control" name="Emails" [(ngModel)]="Emails" >
                </div>
                <div>
                  What can we help you with?
                <textarea style="width: 50%; margin: auto;" placeholder="Send a Message" class="form-control" name="Message" [(ngModel)]="Message"></textarea>
                </div>
                <div>
                  <button type="submit" (click)="message()" style="background-color: blueviolet;color: white; margin: 10px;" >SUBMIT</button>
                </div>
              </div>
            </div>
          </div>  
        </div>
    
    </div>

</div>