// .off
// {
//     width: 100%;
//     height: 100vh;
//     background-color:cadetblue;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     opacity:1;
// }\
.star
{
    width: 100%;
    height: auto;
    background-color: darkgreen;
    color: white;
    margin-top: 100px;
}
h2{
    text-align: center;
    padding: 25px;
}